In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
df = pd.read_csv('nyra_2019_complete.csv', low_memory=False)

In [62]:
df

,AQU,2019-01-01,9,6,72,40.6729017197787,-73.8276065972899,600,D,GD,48,CLM,25000.00,00420,120,Andre Shivnarine Worrie,2090,8
0,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228424,AQU,2019-11-23,9,2,167,40.672363,-73.830853,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228425,AQU,2019-11-23,9,2,168,40.672321,-73.830873,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228426,AQU,2019-11-23,9,2,169,40.672281,-73.830893,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228427,AQU,2019-11-23,9,2,170,40.672240,-73.830913,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228428,AQU,2019-11-23,9,2,171,40.672200,-73.830932,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228429 entries, 0 to 5228428
Data columns (total 18 columns):
 #   Column                   Dtype
---  ------                   -----
 0   AQU                      object
 1   2019-01-01               object
 2   9                        int64
 3   6                        object
 4   72                       int64
 5   40.6729017197787         float64
 6   -73.8276065972899        float64
 7   600                      int64
 8   D                        object
 9   GD                       object
 10  48                       int64
 11  CLM                      object
 12  25000.00                 float64
 13  00420                    int64
 14  120                      int64
 15  Andre Shivnarine Worrie  object
 16  2090                     int64
 17  8                        int64
dtypes: float64(3), int64(8), object(7)
memory usage: 718.0+ MB

In [64]:
df.loc[len(df.index)] = ['AQU','2019-01-01',9,'6',72,40.6729017197787,-73.8276065972899,600,'D','GD',48,'CLM',25000.00,420,120,'Andre Shivnarine Worrie',2090,8]

In [65]:
df

,AQU,2019-01-01,9,6,72,40.6729017197787,-73.8276065972899,600,D,GD,48,CLM,25000.00,00420,120,Andre Shivnarine Worrie,2090,8
0,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228425,AQU,2019-11-23,9,2,168,40.672321,-73.830873,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228426,AQU,2019-11-23,9,2,169,40.672281,-73.830893,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228427,AQU,2019-11-23,9,2,170,40.672240,-73.830913,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228428,AQU,2019-11-23,9,2,171,40.672200,-73.830932,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228429,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [66]:
df.columns = df.columns.str.strip().str.lower()

In [67]:
df

,aqu,2019-01-01,9,6,72,40.6729017197787,-73.8276065972899,600,d,gd,48,clm,25000.00,00420,120,andre shivnarine worrie,2090,8
0,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228425,AQU,2019-11-23,9,2,168,40.672321,-73.830873,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228426,AQU,2019-11-23,9,2,169,40.672281,-73.830893,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228427,AQU,2019-11-23,9,2,170,40.672240,-73.830913,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228428,AQU,2019-11-23,9,2,171,40.672200,-73.830932,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228429,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [70]:
df = df.rename(columns={'aqu':'track_id','2019-01-01':'race_date','9':'race_number','6':'program_number',
                  '72':'trakus_index','40.6729017197787':'latitude','-73.8276065972899':'longitude',
                  '600':'distance_id','d':'course_type','gd':'track_condition','48':'run_up_distance',
                  'clm':'race_type','25000.00':'purse','00420':'post_time','120':'wt_carried',
                  'andre shivnarine worrie':'jockey','2090':'odds','8':'position_finish'})

In [71]:
df

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,wt_carried,jockey,odds,position_finish
0,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,65,40.672596,-73.827742,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5228425,AQU,2019-11-23,9,2,168,40.672321,-73.830873,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228426,AQU,2019-11-23,9,2,169,40.672281,-73.830893,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228427,AQU,2019-11-23,9,2,170,40.672240,-73.830913,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228428,AQU,2019-11-23,9,2,171,40.672200,-73.830932,1100,T,GD,72,STK,200000.0,353,124,Joel Rosario,1120,9
5228429,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8