In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('nyra_2019_complete.csv', low_memory=False, header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228430 entries, 0 to 5228429
Data columns (total 18 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       int64
 3   3       object
 4   4       int64
 5   5       float64
 6   6       float64
 7   7       int64
 8   8       object
 9   9       object
 10  10      int64
 11  11      object
 12  12      float64
 13  13      int64
 14  14      int64
 15  15      object
 16  16      int64
 17  17      int64
dtypes: float64(3), int64(8), object(7)
memory usage: 718.0+ MB

In [6]:
# rename columns according to data dictionary from Big Data Derby 2022 Kaggle competition
df = df.rename(columns={0:'track_id', 1:'race_date', 2:'race_number', 3:'program_number',
                  4:'trakus_index', 5:'latitude', 6:'longitude', 7:'distance_id', 8:'course_type', 
                    9:'track_condition', 10:'run_up_distance', 11:'race_type', 12:'purse', 
                    13:'post_time', 14:'wt_carried', 15:'jockey', 16:'odds', 17:'position_finish'})

In [7]:
df.head()

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,wt_carried,jockey,odds,position_finish
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [8]:
# check for duplicates
df.duplicated().value_counts()

False    5228430
dtype: int64

### The dataframe does not contain any duplicates.

In [9]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228430 entries, 0 to 5228429
Data columns (total 18 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   track_id         5228430 non-null  object
 1   race_date        5228430 non-null  object
 2   race_number      5228430 non-null  int64
 3   program_number   5228430 non-null  object
 4   trakus_index     5228430 non-null  int64
 5   latitude         5228430 non-null  float64
 6   longitude        5228430 non-null  float64
 7   distance_id      5228430 non-null  int64
 8   course_type      5228430 non-null  object
 9   track_condition  5228430 non-null  object
 10  run_up_distance  5228430 non-null  int64
 11  race_type        5228430 non-null  object
 12  purse            5228430 non-null  float64
 13  post_time        5228430 non-null  int64
 14  wt_carried       5228430 non-null  int64
 15  jockey           5228430 non-null  object
 16  odds             5228430 non-null  int64
 17  position_finish  5228430 non-null  int64
dtypes: float64(3), int64(8), object(7)
memory usage: 718.0+ MB

### The dataframe does not contain any nulls.

In [10]:
df.track_id.value_counts()

AQU    2158369
BEL    1947134
SAR    1122927
Name: track_id, dtype: int64

In [11]:
df.race_date.value_counts()

2019-08-24    43925
2019-06-08    41954
2019-07-21    39451
2019-07-06    37481
2019-07-27    37302
              ...
2019-02-24    14920
2019-05-03    12438
2019-12-01    11530
2019-01-10    10819
2019-10-27     3344
Name: race_date, Length: 217, dtype: int64

In [12]:
df.race_number.value_counts()

8     582413
6     575217
5     559884
7     554623
4     523846
2     515115
1     508808
9     492915
3     490256
10    283141
11     98804
12     31725
13     11683
Name: race_number, dtype: int64

In [13]:
df.program_number.value_counts()

4      611396
3      611025
5      606666
2      602597
1      599979
6      579893
7      486905
8      373202
9      266526
10     186835
11     117532
12      71363
1A      56753
13      26507
14      15081
15       7917
2B       4081
16       3591
3X        334
1X        247
Name: program_number, dtype: int64

In [14]:
df.trakus_index.value_counts()

1       14915
2       14915
3       14915
4       14915
8       14914
        ...
1058        9
1057        9
1056        9
1062        9
1037        9
Name: trakus_index, Length: 1062, dtype: int64

In [15]:
df.latitude.value_counts()

43.071792    98
40.666721    46
43.068657    31
43.068697    31
43.068705    31
             ..
40.716898     1
40.716930     1
40.716962     1
40.716991     1
40.672200     1
Name: latitude, Length: 5224784, dtype: int64

In [16]:
df.longitude.value_counts()

-73.764658    98
-73.830215    46
-73.771958    31
-73.771969    31
-73.771946    31
              ..
-73.726852     1
-73.726803     1
-73.727243     1
-73.727213     1
-73.830932     1
Name: longitude, Length: 5224799, dtype: int64

- Latitude and longitude have a lot of different value counts but the coordinates are very close in some cases. Maybe I can figure out where these are located generally in order to bin them in the future.

In [17]:
df.distance_id.value_counts()

600     1194752
800     1137856
850      776832
700      595436
650      466190
900      416372
550      280966
1000      87941
1100      83223
1200      45213
950       35814
1650      33963
500       25270
1900      15315
2000       9558
1800       6713
1600       5904
1400       4655
1050       3661
450        2796
Name: distance_id, dtype: int64

In [18]:
df.course_type.value_counts()

D    3229234
T     988274
I     752310
O     193063
M      65549
Name: course_type, dtype: int64

In [19]:
df.track_condition.value_counts()

FT     2345748
FM     1391865
GD      733124
SY      486795
MY      172943
YL       89250
SF        8705
Name: track_condition, dtype: int64

- Looks like the one I added is not the same as the other "GD" entries. Stripping the string values might fix that.

In [20]:
df.track_condition = df.track_condition.str.strip()

In [21]:
df.track_condition.value_counts()

FT    2345748
FM    1391865
GD     733124
SY     486795
MY     172943
YL      89250
SF       8705
Name: track_condition, dtype: int64

In [22]:
df.run_up_distance.value_counts()

54     798776
45     396175
48     345963
52     235485
44     197209
        ...
118      1962
49       1904
180      1698
67       1355
161       996
Name: run_up_distance, Length: 127, dtype: int64

In [23]:
df.race_type.value_counts()

CLM    1142801
MSW    1089307
MCL     920650
STK     730102
AOC     541117
ALW     522748
STR     186744
SOC      36069
SST      27560
WCL      22386
SHP       4686
WMC       4260
Name: race_type, dtype: int64

In [24]:
df.purse.value_counts()

41000.0      353152
62000.0      281264
70000.0      279714
75000.0      250906
90000.0      242703
              ...
101200.0       3664
1200000.0      3258
97000.0        3258
74000.0        3104
56000.0        3101
Name: purse, Length: 70, dtype: int64

In [25]:
df.post_time.value_counts()

130     94327
1250    94087
223     61610
551     56106
445     53938
        ...
109      1698
1152     1640
618      1602
1227     1495
217      1440
Name: post_time, Length: 360, dtype: int64

In [26]:
df.wt_carried.value_counts()

118    805184
120    768432
119    747592
122    628713
124    510510
121    457490
123    384078
125    204079
126    133556
117    126486
116    115239
115     88757
114     82722
113     61619
111     25915
112     18884
156      9624
144      9347
153      8026
142      6828
152      6472
146      5528
150      4539
147      4214
148      3593
127      2296
149      1918
154      1864
158      1062
160      1062
143       829
128       714
155       643
110       328
132       287
Name: wt_carried, dtype: int64

In [27]:
df.jockey.value_counts()

Manuel Franco        444024
Dylan Davis          381018
Jose Lezcano         344802
Junior Alvarado      299324
Irad Ortiz Jr.       282044
                      ...
Jose Angel Garcia       280
Jose F. Rojas           269
Luca Panici             258
Kevin Gomez             256
Arienne Cox             253
Name: jockey, Length: 178, dtype: int64

In [28]:
df.odds.value_counts()

420      45315
430      43158
460      42417
410      40648
440      38635
         ...
13400      282
10525      282
14850      275
10675      253
12025       65
Name: odds, Length: 656, dtype: int64

In [29]:
df.position_finish.value_counts()

2     703763
1     703363
3     702027
4     698986
5     681987
6     593032
7     440674
8     304760
9     200008
10    109314
11     56078
12     31447
13      2280
14       711
Name: position_finish, dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228430 entries, 0 to 5228429
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   track_id         object
 1   race_date        object
 2   race_number      int64
 3   program_number   object
 4   trakus_index     int64
 5   latitude         float64
 6   longitude        float64
 7   distance_id      int64
 8   course_type      object
 9   track_condition  object
 10  run_up_distance  int64
 11  race_type        object
 12  purse            float64
 13  post_time        int64
 14  wt_carried       int64
 15  jockey           object
 16  odds             int64
 17  position_finish  int64
dtypes: float64(3), int64(8), object(7)
memory usage: 718.0+ MB

In [31]:
df.head()

,track_id,race_date,race_number,program_number,trakus_index,latitude,longitude,distance_id,course_type,track_condition,run_up_distance,race_type,purse,post_time,wt_carried,jockey,odds,position_finish
0,AQU,2019-01-01,9,6,72,40.672902,-73.827607,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
1,AQU,2019-01-01,9,6,73,40.672946,-73.827587,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
2,AQU,2019-01-01,9,6,74,40.672990,-73.827568,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
3,AQU,2019-01-01,9,6,63,40.672510,-73.827781,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8
4,AQU,2019-01-01,9,6,64,40.672553,-73.827762,600,D,GD,48,CLM,25000.0,420,120,Andre Shivnarine Worrie,2090,8

In [32]:
df.jockey = df.jockey.str.lower().str.replace(' ','_')

In [33]:
df.race_date = pd.to_datetime(df.race_date)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5228430 entries, 0 to 5228429
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   track_id         object
 1   race_date        datetime64[ns]
 2   race_number      int64
 3   program_number   object
 4   trakus_index     int64
 5   latitude         float64
 6   longitude        float64
 7   distance_id      int64
 8   course_type      object
 9   track_condition  object
 10  run_up_distance  int64
 11  race_type        object
 12  purse            float64
 13  post_time        int64
 14  wt_carried       int64
 15  jockey           object
 16  odds             int64
 17  position_finish  int64
dtypes: datetime64[ns](1), float64(3), int64(8), object(6)
memory usage: 718.0+ MB